**Тема 5. Работа со строками в контексте анализа данных**

## Задача 1: Применение методов обработки строк в Pandas

Дан DataFrame df, содержащий колонку 'Name' со значениями: ["alice", "BOB", "Charlie"]. Преобразуйте все строки в этой колонке к нижнему регистру.

In [17]:
import pandas as pd

# Создаем DataFrame
# напишите здесь Ваш код ...

# Преобразуем все строки в колонке 'Name' к нижнему регистру
# напишите здесь Ваш код ...

# Выводим результат
# напишите здесь Ваш код ...

      Name
0    alice
1      bob
2  charlie

## Задача 2: Преобразование данных из чисел в строки и обратно в Pandas

В DataFrame df с колонкой 'Age' с числовыми значениями, преобразуйте значения этой колонки в строки. Затем преобразуйте их обратно в числа.

In [18]:
import pandas as pd

# Создаем DataFrame
# напишите здесь Ваш код ...

# Преобразуем числа в строки
# напишите здесь Ваш код ...

# Преобразуем строки обратно в числа
# напишите здесь Ваш код ...

# Выводим результат
# напишите здесь Ваш код ...

   Age
0   25
1   30
2   35

## Задача 3: Использование регулярных выражений для фильтрации данных

Дан DataFrame df с колонкой 'Email'. Отфильтруйте строки, содержащие адреса электронной почты, заканчивающиеся на ".com".

In [19]:
import pandas as pd

# Создаем DataFrame
# напишите здесь Ваш код ...

# Фильтруем строки, содержащие электронные адреса, заканчивающиеся на ".com"
# напишите здесь Ваш код ...

# Выводим результат
# напишите здесь Ваш код ...

               Email
0  user1@example.com
2  user3@example.com

## Задача 4: Извлечение данных из строк с помощью регулярных выражений

В DataFrame df содержится колонка 'Info' со строками в формате "Name: [Имя], Age: [Возраст]". Извлеките имя и возраст в отдельные колонки.

In [20]:
import pandas as pd

# Создаем DataFrame
# напишите здесь Ваш код ...

# Извлекаем имя и возраст в отдельные колонки
# напишите здесь Ваш код ...

# Выводим результат
# напишите здесь Ваш код ...

                     Info     Name Age
0    Name: Alice, Age: 30    Alice  30
1      Name: Bob, Age: 25      Bob  25
2  Name: Charlie, Age: 35  Charlie  35